# Auto detect text files and perform LF normalization
* text=auto

# Override language detection
*.php linguist-language=PHP
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML
*.md linguist-language=Markdown