* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0f14;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-login {
  width: 420px;
  text-align: center;
}

.logo-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  border-radius: 50%;
  background: #0e2a38;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-circle img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.title {
  color: #e6e6e6;
  font-size: 28px;
  font-weight: 600;
}

.title span {
  color: #36c1ff;
}

.subtitle {
  color: #8b949e;
  font-size: 14px;
  margin-bottom: 25px;
}

.login-card {
  background: #131820;
  padding: 30px;
  border-radius: 16px;
  text-align: left;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

.form-label {
  color: #c0c8d2;
  font-size: 14px;
}

.input-group {
  border: 1px solid #1f2933;
  border-radius: 10px;
  overflow: hidden;
}

.input-group-text {
  background: #0b0f14;
  border: none;
  color: #6c7a89;
}

.form-control {
  background: #0b0f14;
  border: none;
  color: #e6e6e6;
  animation: inputFocus 0.6s ease-out;


}

.form-control::placeholder {
  color: #6c7a89;
}

.form-control:focus {
  background: #0b0f14;
  color: #fff;
  box-shadow: none;
}

.forgot {
  font-size: 13px;
  color: #38c6ff;
  float: right;
  text-decoration: none;
  margin-top: 6px;
}

.signin-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  background: linear-gradient(90deg, #1e6c86, #26a9c8);
}

.bottom-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #8b949e;
}

.bottom-text a {
  color: #36c1ff;
  text-decoration: none;
  font-weight: 500;
}


input::placeholder{
color:#6f7a84;
}

input:focus,
select:focus {
  border: 1px solid #29b6f6;
  box-shadow: 0 0 0 2px rgba(41, 182, 246, 0.25);
}